h1 {
	font-size: 30px;
}

#homepage-form {
	margin-bottom: 20px;
}

#geolocation-button {
	display: block;
	margin-bottom: 15px;
}
}
#submit-location-button {
	display: block;
}

label {
	display: block;
}
#future-date {
	margin-bottom: 15px;
}

#results-menu {
	margin-top: 20px;
	margin-bottom: 20px;
}

#map {
	height: 400px;
	width: 100%;
}

#menu-options-form {
	margin-bottom: 20px;

}